bob-wrapper/node_modules/*
example-omsa-server/__pycache_/*
example-omsa-server/Include/*
example-omsa-server/Lib/*
example-omsa-server/Scripts/*
example-omsa-server/package-lock.json
example-omsa-server/package.json
example-omsa-server/pyenv.cfg
.vscode