osdm-wrapper/node_modules/*
bob-wrapper/node_modules/*
example-omsa-server/__pycache__
example-omsa-server/Include
example-omsa-server/Lib
example-omsa-server/Scripts
example-omsa-server/*.json
example-omsa-server/*.cfg
openapitools.json
